// https://www.figma.com/file/NQpihov6mNHT49mrD53KhQ/?node-id=18%3A17

$colors-bg-light: #f9f9f9;

// Brand

$color-black: #141414;
$color-gold-for-headers: #af6929;
$color-dark-gold: #b17742;
$color-gold: #c7a17f;
$color-pink: #d8bab2;
$color-light-biege: #f7efe9;

// Shades

$color-white: #fff;
$color-gray-10: #fafafa;
$color-gray-20: #f0f0f0;
$color-gray-30 : #dadada;
$color-gray-40 : #c1c1c1;
$color-gray-50 : #9b9b9b;
$color-gray-70 : #666666;
$color-gray-80 : #565656;
$color-gray-90 : #383838;
$color-black-100: #000;

// Service

$color-red: #aa0505;
$color-orange: #e46c28;
$color-green: #0e960b;
